<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nfs.alandubs.updateactivity"
    android:versionCode="1"
    android:versionName="1.0" >
    <!--<uses-sdk android:minSdkVersion="7" />   -->
    
    <uses-sdk
        android:minSdkVersion="7"  /> <!--  need to use minSdkVersion = 7 & remove  android:targetSdkVersion="17"
                                     otherwise get awful message 'You cannot combine custom titles with other title features'
                                     but now also need BLUETOOTH_ADMIN --> 
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> 

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
         > <!--  android:theme="@style/AppTheme" -->
        <activity
            android:name="net.nfs.alandubs.updateactivity.MainActivity"
            android:label="@string/app_name"
             > <!--  android:theme="@android:style/Theme" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name="SwimPreferences"/>
    </application>

</manifest>
